<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filme">
            <h2><span>Filme</span> {{filme.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Titulo Original</span></dt>
                <dd>
                    <span>{{filme.tituloOriginal}}</span>
                </dd>
                <dt><span>Titulo Portugues</span></dt>
                <dd>
                    <span>{{filme.tituloPortugues}}</span>
                </dd>
                <dt><span>Paises</span></dt>
                <dd>
                    <span>{{filme.paises}}</span>
                </dd>
                <dt><span>Ano</span></dt>
                <dd>
                    <span>{{filme.ano}}</span>
                </dd>
                <dt><span>Direcao</span></dt>
                <dd>
                    <span>{{filme.direcao}}</span>
                </dd>
                <dt><span>Elenco</span></dt>
                <dd>
                    <span>{{filme.elenco}}</span>
                </dd>
                <dt><span>Sinopse</span></dt>
                <dd>
                    <span>{{filme.sinopse}}</span>
                </dd>
                <dt><span>Duracao</span></dt>
                <dd>
                    <span>{{filme.duracao}}</span>
                </dd>
                <dt><span>Genero</span></dt>
                <dd>
                    <span>{{filme.genero}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filme', filme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
