<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-item-filme-heading">Create or edit a Item Filme</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!itemFilme.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="itemFilme.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroSerie">Numero Serie</label>
                    <input type="text" class="form-control" name="numeroSerie" id="field_numeroSerie"
                        [(ngModel)]="itemFilme.numeroSerie" required/>
                    <div [hidden]="!(editForm.controls.numeroSerie?.dirty && editForm.controls.numeroSerie?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroSerie?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoMidia">Tipo Midia</label>
                    <select class="form-control" name="tipoMidia" [(ngModel)]="itemFilme.tipoMidia" id="field_tipoMidia"  required>
                        <option value="DVD">DVD</option>
                        <option value="VHS">VHS</option>
                        <option value="HDDVD">HDDVD</option>
                        <option value="BLURAY">BLURAY</option>
                    </select>
                    <div [hidden]="!(editForm.controls.tipoMidia?.dirty && editForm.controls.tipoMidia?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoMidia?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataAquisicao">Data Aquisicao</label>
                    <div class="d-flex">
                        <input id="field_dataAquisicao" type="datetime-local" class="form-control" name="dataAquisicao" [(ngModel)]="dataAquisicao"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dataAquisicao?.dirty && editForm.controls.dataAquisicao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataAquisicao?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dataAquisicao?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_filme">Filme</label>
                    <select class="form-control" id="field_filme" name="filme" [(ngModel)]="itemFilme.filme" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filmeOption.id === itemFilme.filme?.id ? itemFilme.filme : filmeOption" *ngFor="let filmeOption of filmes; trackBy: trackFilmeById">{{filmeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
