<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-locacao-heading" jhiTranslate="vlimperialApp.locacao.home.createOrEditLabel">Create or edit a Locacao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!locacao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="locacao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vlimperialApp.locacao.dataLocacao" for="field_dataLocacao">Data Locacao</label>
                    <div class="d-flex">
                        <input id="field_dataLocacao" type="datetime-local" class="form-control" name="dataLocacao" [(ngModel)]="dataLocacao"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dataLocacao?.dirty && editForm.controls.dataLocacao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataLocacao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dataLocacao?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vlimperialApp.locacao.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="locacao.valor" required/>
                    <div [hidden]="!(editForm.controls.valor?.dirty && editForm.controls.valor?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.valor?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.valor?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vlimperialApp.locacao.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="locacao.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === locacao.cliente?.id ? locacao.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="vlimperialApp.locacao.itemLocado" for="field_itemLocado">Item Locado</label>
                    <select class="form-control" id="field_itemLocado" multiple name="itemLocado" [(ngModel)]="locacao.itemLocados">
                        <option [ngValue]="getSelected(locacao.itemLocados, itemFilmeOption)" *ngFor="let itemFilmeOption of itemfilmes; trackBy: trackItemFilmeById">{{itemFilmeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
