<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span>Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Numero Incricao</span></dt>
                <dd>
                    <span>{{cliente.numeroIncricao}}</span>
                </dd>
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{cliente.nome}}</span>
                </dd>
                <dt><span>Cpf</span></dt>
                <dd>
                    <span>{{cliente.cpf}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{cliente.email}}</span>
                </dd>
                <dt><span>Endereco</span></dt>
                <dd>
                    <span>{{cliente.endereco}}</span>
                </dd>
                <dt><span>Telefone Residencial</span></dt>
                <dd>
                    <span>{{cliente.telefoneResidencial}}</span>
                </dd>
                <dt><span>Telefone Comercial</span></dt>
                <dd>
                    <span>{{cliente.telefoneComercial}}</span>
                </dd>
                <dt><span>Telefone Celular</span></dt>
                <dd>
                    <span>{{cliente.telefoneCelular}}</span>
                </dd>
                <dt><span>Local Trabalho</span></dt>
                <dd>
                    <span>{{cliente.localTrabalho}}</span>
                </dd>
                <dt><span>Sexo</span></dt>
                <dd>
                    <span>{{cliente.sexo}}</span>
                </dd>
                <dt><span>Data Nascimento</span></dt>
                <dd>
                    <span>{{cliente.dataNascimento}}</span>
                </dd>
                <dt><span>Cliente</span></dt>
                <dd>
                    <div *ngIf="cliente.cliente">
                        <a [routerLink]="['/cliente', cliente.cliente?.id, 'view']">{{cliente.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
