<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="vlimperialApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vlimperialApp.cliente.numeroIncricao">Numero Incricao</span></dt>
                <dd>
                    <span>{{cliente.numeroIncricao}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.nome">Nome</span></dt>
                <dd>
                    <span>{{cliente.nome}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.cpf">Cpf</span></dt>
                <dd>
                    <span>{{cliente.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.email">Email</span></dt>
                <dd>
                    <span>{{cliente.email}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.endereco">Endereco</span></dt>
                <dd>
                    <span>{{cliente.endereco}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.telefoneResidencial">Telefone Residencial</span></dt>
                <dd>
                    <span>{{cliente.telefoneResidencial}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.telefoneComercial">Telefone Comercial</span></dt>
                <dd>
                    <span>{{cliente.telefoneComercial}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.telefoneCelular">Telefone Celular</span></dt>
                <dd>
                    <span>{{cliente.telefoneCelular}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.localTrabalho">Local Trabalho</span></dt>
                <dd>
                    <span>{{cliente.localTrabalho}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.sexo">Sexo</span></dt>
                <dd>
                    <span jhiTranslate="{{'vlimperialApp.GeneroPessoa.' + cliente.sexo}}">{{cliente.sexo}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{cliente.dataNascimento}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.ativo">Ativo</span></dt>
                <dd>
                    <span>{{cliente.ativo}}</span>
                </dd>
                <dt><span jhiTranslate="vlimperialApp.cliente.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="cliente.cliente">
                        <a [routerLink]="['/cliente', cliente.cliente?.id, 'view']">{{cliente.cliente?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
