<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reserva-heading" jhiTranslate="vlimperialApp.reserva.home.createOrEditLabel">Create or edit a Reserva</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reserva.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reserva.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vlimperialApp.reserva.dataSolicitacao" for="field_dataSolicitacao">Data Solicitacao</label>
                    <div class="d-flex">
                        <input id="field_dataSolicitacao" type="date" class="form-control" name="dataSolicitacao" [(ngModel)]="dataSolicitacao"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.dataSolicitacao?.dirty && editForm.controls.dataSolicitacao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataSolicitacao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dataSolicitacao?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vlimperialApp.reserva.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="reserva.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === reserva.cliente?.id ? reserva.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{reserva.cliente?.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="vlimperialApp.reserva.midiaDesejada" for="field_midiaDesejada">Midia Desejada</label>
                    <select class="form-control" id="field_midiaDesejada" multiple name="midiaDesejada" [(ngModel)]="reserva.midiaDesejadas">
                        <option [ngValue]="getSelected(reserva.midiaDesejadas, itemFilmeOption)" *ngFor="let itemFilmeOption of itemfilmes; trackBy: trackItemFilmeById">{{itemFilmeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
