<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Video Locadora Imperial</h1>
        <p class="lead">Sistema de gerenciamento de video locadora</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Você está logado como: "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Clique </span>
                <a class="alert-link" (click)="login()">aqui</a><span>, para efetuar o login no sistema.</span>
            </div>
        </div>

        
        <p>
            <span>Código de desenvolvimento do projeto: </span> <a href="https://github.com/MprofSC/videolocadoraimperial" target="_blank" rel="noopener">GitHub</a>!
        </p>
    </div>
</div>
